@import 'vars.scss';

@import '~@fontsource/poppins/index.css';
@import '~@fontsource/poppins/700.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}