// IMPORT VABIABLES

@import './vars';

// IMPORT ICONS

@import '~@fortawesome/fontawesome-free';

// IMPORT MAIN FONT 

@import '~@fontsource/poppins/index.css';
@import '~@fontsource/poppins/700.css';
@import '~@fontsource/poppins/900.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// COMMONS 

body {
    font-family: $main_font;
}

h1 {
    font-weight: 900;
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: $blue_lagoon;
}

p {
    color: $regent_gray;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}

// LOGO 

.logo {
    letter-spacing: 6px;
    a {
        text-decoration: none;
        color: $regent_gray;
        font-weight: 700;
        font-size: 18px;

        span {
            background-color: rgba(8, 129, 129, 0.2);
            color: #00a6a6;
            border-radius: 50px 0 0 50px;
            padding: 10px 0px 10px 30px ;
        }

    }
    
}

// BUTTONS

button {
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.full_btn {
    background: $blue_lagoon;
    color: #FFFFFF;
    border: 1px solid $blue_lagoon;
}
.empty_btn {
    background: none;
    color: #FFFFFF;
    border: 1px solid $blue_lagoon;
}

// HIGHLIGHTED TEXT

.highlighted {
    background-color: rgba($color:$blue_lagoon, $alpha: 0.2);
    padding: 2px 10px;
    border-radius: 5px;
}

.highlighted_txt {
    background-color: rgba($color:$blue_lagoon, $alpha: 0.2);
    color: $elf_green;
    padding: 2px 10px;
    border-radius: 5px;
}

// BOXES

.box {
    width: 22vw;
    height: 22vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
