// TYPOGRAPHY

$main_font: "Poppins", sans-serif;

// COLORS

$saltpan : #EDF4EC;
$woodsmoke : #121117;
$cape_cod : #4F5050;
$blue_lagoon : #048383;
$manatee : #919194;
$brown : #904D01;
$riptide : #88E2E3;
$casablanca : #F4AC4F;

$gray_nurse : #E5EBE5;
$outer_space : #252C2F;
$dove_gray : #737373;
$gumbo : #83A7A8;
$regent_gray : #7F939C;

$whiskey : #D29261;
$river_bed : #4D5A65;
$elf_green : #088181;
$morning_glory : #8CDADC;
